<p>villain-info works!</p>
<div *ngIf="report === undefined; then display_error else display_report"></div>

<ng-template #display_error>
  Error: Report not found!
</ng-template>
<ng-template #display_report>
  <div>
    <ul>
      <li><p>Mischief Maker: {{ report!.name}}</p></li>
      <li><p>Location: {{ report!.location}}</p></li>
      <li><p>Reported By: {{ report?.reporter}}</p></li>
      <li><p>Time: {{report?.time | date: "yyyy-MMM-dd '('hh:mm a')'"}}</p></li>
      <li><p>Status: {{ report!.getStatus() | status}}</p> <button (click)="onUpdateStatus()">Update</button></li>
      <li><p>Description: {{ report?.description }}</p></li>
    </ul>
    <button routerLink="/">Back</button>
  </div>
</ng-template>