<form
  id="villain-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)"
>
  <p class="emergency" *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
  <fieldset>
    <legend>New Report</legend>
    <input 
      type="text" 
      name="name"
      formControlName="reporter"
      placeholder="REPORTER NAME*"
    > <br>

    <input 
      type="tel" 
      name="name"
      formControlName="telephone"
      placeholder="PHONE NUMBER* ###-###-####"
    > <br>

    <input 
      type="text" 
      name="mischief_maker"
      formControlName="mischief_maker"
      placeholder="MISCHIEF MAKER*"
    > <br>

    <div>
      <input
        [(ngModel)]="inputLocation"
        (ngModelChange)="onInputLocation()"
        type="text" 
        name="location"
        list="preset-locations"
        formControlName="location"
        placeholder="LOCATION*"
      >

      <datalist id="preset-locations">
        <option
          *ngFor="let l of locations"
          [value]="l.getLocation()"
        ></option>
      </datalist>

      <input 
        type="number" 
        name="coordinate-X"
        formControlName="coordX"
        placeholder="X*"
        [value]="coordX"
      >

      <input 
        type="number" 
        name="coordinate-Y"
        formControlName="coordY"
        placeholder="Y*"
        [value]="coordY"
      >
    </div>

    <input 
      type="url" 
      name="picture"
      formControlName="picture"
      placeholder="IMAGE URL (OPTIONAL)"
    > <br>

   <textarea name="comments" id="villain-form" formControlName="comments" cols="30" rows="10" placeholder="DESCRIPTION*"></textarea> <br>
   <button routerLink="/">Cancel</button>
    <button [disabled]="!form.valid">Publish</button>
  </fieldset>
</form>
<h3>Click the map to choose coordinates</h3>
<p><strong>x:</strong> {{ selectedCoordX }}&nbsp;&nbsp;<strong>y:</strong>{{ selectedCoordY }}</p>
<button 
  id="use" 
  *ngIf="selectedCoordX !== undefined && selectedCoordY != undefined"
  (click)="onUseCoordinates()"
  >Apply</button>

<app-map (mapClick)="onSelectCoordinates($event)"></app-map>