<form
  id="villain-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)"
>
  <fieldset>
    <legend>New Report</legend>
    <input 
      type="text" 
      name="name"
      formControlName="reporter"
      placeholder="REPORTER NAME"
    > <br>

    <input 
      type="text" 
      name="mischief_maker"
      formControlName="mischief_maker"
      placeholder="MISCHIEF MAKER"
    > <br>

    <div>
      <input 
        type="text" 
        name="location"
        list="preset-locations"
        formControlName="location"
        placeholder="PLACE NAME"
      >

      <datalist id="preset-locations">
        <option
          *ngFor="let l of locations"
          [value]="l.getLocation()"
        ></option>
      </datalist>

      <input 
        type="text" 
        name="coordinate-X"
        formControlName="coordX"
        placeholder="X COORDINATE"
      >

      <input 
        type="text" 
        name="coordinate-Y"
        formControlName="coordY"
        placeholder="Y COORDINATE"
      >
    </div>

    <input 
      type="url" 
      name="picture"
      formControlName="picture"
      placeholder="IMAGE"
    > <br>

   <textarea name="comments" id="villain-form" formControlName="comments" cols="30" rows="10"></textarea> <br>
   <button routerLink="/">Cancel</button>
    <button [disabled]="!form.valid">Publish</button>
  </fieldset>
</form>