/* Add this CSS to your global styles or component-specific styles */

body {
    background-color: #1e1e1e;
    color: #c9d1d9;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #2d333b;
    padding-left: 20px;
    padding-right: 20px;
}

th {
    background-color: #2d333b;
    cursor: pointer;
}

.table-btn {
    margin-top: 0;
}

button:hover {
    background-color: #3e4451;
}
  