<div *ngIf="throwError; then display_error else display_auth"></div>
<ng-template #display_error>
  Error: Report not found!
</ng-template>
<ng-template #display_auth>
  <p class="emergency">{{ errorMessage }}</p>
  <form
    id="villain-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
  >
    <fieldset>
      <legend>Authentication</legend>
      <p>Enter the password to confirm your action</p>
      <input 
        type="password" 
        name="name"
        formControlName="password"
        placeholder="PASSWORD"
      > <br>

      <button routerLink="/">Cancel</button>
      <button [disabled]="!form.valid">Enter</button>
    </fieldset>
  </form>
</ng-template>