/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #1e1e1e;
    color: #e0e9f2;
}